// Use this as template

body{
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
}

a{
	text-decoration: none;
}

a:visited{
	color: blue;
}

h1{
	font-size: 50px;
	line-height: 20px;
}


#container{
	margin: 0 auto;
	width: 80%;
	padding-top: 10px;
}

.menuitem{
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
	float: left;
	width: 25%;
}

.menuitem a{
	text-decoration: none;
}

img{
	margin: 20px;
	height: 200px;
	float: right;
}

iframe{
	margin-left: 350px;
}

#footer{
	text-align: center;
	padding: 20px;
	background-color: #eeeeee;
	min-height: 40px;
}

.footerText{
	text-align: left;
	float: left;
	width: 33%;
}

.right{
	text-align: right;
}

.center{
	text-align: center;
}
